@using FJRichter.Models
@model List<FJRichter.Models.Subject>
@{
    ViewBag.Title = "Admin Dashboard index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@foreach (var subject in Model)
{
    <p>@subject.Title - @subject.Created.ToString("D")</p>
    foreach (var post in subject.Posts)
     {
         <h4>@post.Title</h4>
     }
}